<div class="js-countries-container">
        <ul class="countries-text">
            {{#each this}}
            <li class="country-text-item">{{this.name}}</li>
            {{/each}}
        </ul>
</div>